IO_LOC  "clk" 45;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
CLOCK_LOC "clk" BUFG;
IO_LOC "resetn" 14;
IO_PORT "resetn" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_LOC "activity" 10;
IO_PORT "activity" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
